body{
    background-image: url("../images/wallpaper.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    color:white;
}

.footer{
    height:100px;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);
}

.divbody{
    width:80%;
    margin: 0 10% 0 10%;
    padding: 0 1% 1% 1%;
    background-color:rgba(255, 255, 255, 0);
    font-size:14pt;
}

.linkbutton:link, .linkbutton:visited, a.linkbutton:hover, a.linkbutton:active{
    color:white;
    padding: 10px 50px 10px 10px;
    margin-left: 45px;
    text-decoration: none;
}

#myphoto{
    width: 160px;
    height:180px;
    margin-top:20px;
}

.maintitle{
    text-align:center;
}

.divmenu{
    height:40px;
    background-color: #333333;
    margin: 0 10px 10px 10px;
    display: flex;
    align-items: center;
}

.divpost{
    height:100px;
    border: 1px #929292 solid;
    margin-bottom:10px;
    padding: 1% 1% 1% 1%;
}

.linkpost{
    text-decoration: none;
    color:white;
}

.divcomment{
    border: 1px solid rgb(158, 158, 158);
    margin: 0 0 8px 0;
    padding: 0 0 0 15px;
}


.siteimg{
    width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}